@font-face {
  font-family: "ryuma";
  src: url("https://ryuma.de/static/GothamBold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "small";
  src: url("https://ryuma.de/static/GothamMedium.ttf") format("truetype");
  font-weight: 500;
}
